<!DOCTYPE html>
<html lang="zh-TW">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %> 2023人才白皮書－天下學習XCheers</title>

    <meta name="keywords" content="才白皮書,永續,ESG,大缺工, 離職潮,留才,求才">
    <meta name="description" content="<%- description %>">
    <meta http-equiv="Pragma" content="no-cache">
    <meta property="og:title" content="<%- title %> 2023人才白皮書－天下學習 X Cheers">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://web.cheers.com.tw/issue/2022/talent_white_paper/index.html">
    <meta property="og:image" content="https://web.cheers.com.tw//issue/2022/talent_white_paper/assets/images/1200by630-online.jpg">
    <meta property="og:site_name" content="2023 人才白皮書－天下學習 X Cheers" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:description" content="<%- description %>">

    <link rel="shortcut icon" href="https://www.cw.com.tw/assets_new/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="#">
            <img src="assets/images/logo-cw.jpg" alt="">
          </a><a class="navbar-brand" href="#">
            <img src="assets/images/logo-cheers.jpg" alt="">
          </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link <%- current=='index' ? 'active' : '' %>" href="index.html">全球大數據</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%- current=='view' ? 'active' : '' %>" href="view.html">人才觀點</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%- current=='collection' ? 'active' : '' %>" href="collection.html">人才白皮書專區</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%- current=='cooperation' ? 'active' : '' %>" href="cooperation.html">共同推動</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%- current=='hr_club' ? 'active' : '' %>" href="hr_club.html">人資長俱樂部</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



    <%- contents %>

    <footer class="footer">
      <div class="container text-center">
        <h5>Copyright © 2022 天下雜誌. All rights reserved. 版權所有，禁止擅自轉貼節錄</h5>
        <h5><span class="mx-2">讀者服務信箱：<a href="mailto:bill@cw.com.tw">bill@cw.com.tw</a></span> <span class="mx-2">讀者服務專線：02-2662-0332</span> </h5>
        <h5 class="mt-2"><a href="" target="_blank" class="a-line">隱私權政策</a></h5>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>

    <!-- aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
     AOS.init();
    </script>

<script>
  //tooltips
  // $(document).ready(function(){
  //   $('[data-toggle="tooltip"]').tooltip();   
  // });

  //nav active
  $(function() {
      const path = window.location.pathname.split('/').pop();
    $('.navbar-nav .nav-link').removeClass('active');
    $('.navbar-nav .nav-link').each(function() {
      const link = $(this).attr('href');
      if ( link.indexOf(path) > -1 && path !== '' ) {
        $(this).addClass('active');
      } else if ( path === '' ) {
        $('.navbar-nav .nav-link[href*="index"]').addClass('active');
      }
    })
  })
  </script>

  </body>

</html>